# Database ITS REAL DATABASEURL
DATABASE_URL="postgresql://postgres:@87.228.112.110:5432/postgres?schema=public&sslmode=disable"

# Server
PORT=3000
CORS_ORIGINS="http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176"

# JWT (для будущего)
JWT_SECRET="your-secret-key-change-in-production"
JWT_EXPIRES_IN="7d"